.input-box{
    width: 250px;
    height: 30px;
}
#button-wrapper{
    padding: 5px 15px 5px 15px;
    background-color: blue;
    color: white;
    font-size: 14px;
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.icon{
  width: 50px;
    border-radius: 15px;
}

.btn-link{
    padding: 5px 15px 5px 15px;
    background-color: green;
    color: white;
    font-size: 14px;
}
.header-active-class{
    color: yellow
}

.error-msg{
  color: red;
}

.error-input{
  border: 2px solid red;
}
